@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');


.contactbox{
    margin-left: 50px;
    margin-top: -40px;
    display:flex;
    flex-direction: column;
    flex: 1;
    border: 3px solid black;
    margin-right: 80px;
}

.contactbox__header{
    background-color: white;
    padding: 10px;
    border-bottom: 3px solid black;
    font-family: 'Alegreya', serif;
}

.contactbox__body{
    margin-left: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.contactbox__body > input{
   flex: 0.3;
   outline: 2px solid black;
}


.contactbox__button{
    display: flex;
    align-items: center;
    border: 2px solid black;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.contactbox__button > button{
    margin-left: 20px;
    background-color: lightgray;
    border: none;
    padding-right: 25px;
    outline: none;
}

.contactbox__button > button:hover{
    outline: none;
}

.contactbox__addicon{
    font-size: 25px !important;    
}


