*{
  margin: 0;
  padding: 0;
}

html{
  height: 50vw;
}

body {
  background: rgb(45,75,219);
  background: linear-gradient(180deg, rgba(45,75,219,1) 0%, rgba(255,255,255,0.4797269249496674) 100%);
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
